<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg0.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
              <div class="card">
                <form [formGroup]="rForm" class="form container" method="" action="" (ngSubmit)="OnSubmit(rForm.value)">
                    <div class="pu-do row">
                      <div class="pu-container col">
                            <div class="persent-one">
                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                    <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From Airport" [(ngModel)]="from" formControlName="from" [ngbTypeahead]="Airportsrch">
                            </div>
                      </div>
                      <div class="do-container col">
                            <div class="persent-one">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <input type="text" name="arv" class="textboxstyle" id="arv" placeholder="To City" [(ngModel)]="to" formControlName="to" [ngbTypeahead]="Townsrch">
                            </div>
                      </div>
                      
                    </div>
                    <div class="persons row">
                        <div class="do-container col-4">
                            <div class="persent-one">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="date" name="whendate" class="textboxstyle"  id="whendate" placeholder="Departure date" [(ngModel)]="search.searchedDate" formControlName="whenDate">
                            </div>
                        </div>
                        <div class="do-container col-2">
                            <div class="persent-one">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="time" name="whentime" class="textboxstyle"  id="whentime" placeholder="Departure time" [(ngModel)]="search.searchedTime" formControlName="whenTime">
                            </div>
                         </div>
                                <div class="col">
                                    <label for="adults">Adults</label>
                                    <select class="form-control" id="adults" name="adults" [(ngModel)]="search.adult" formControlName="adults">
                                        <option *ngFor="let pa of numbers" [ngValue]=pa>{{ pa }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="childen">Children</label>
                                    <select class="form-control" id="childen" name="children" [(ngModel)]="search.children" formControlName="children">
                                        <option *ngFor="let pc of numbers" [ngValue]=pc>{{ pc }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="infants">Infants</label>
                                    <select class="form-control" id="infants" name="infants" [(ngModel)]="search.infant" formControlName="infants">
                                        <option *ngFor="let pi of numbers" [ngValue]=pi>{{ pi }}</option>
                                    </select>
                                </div>
                        
                    </div>
                    <div class="search-btn row">
                        <div class="form-group">
                                <button class="btn btn-success btn-round btn-lg btn-block" [disabled]="!rForm.valid" [routerLink]="['./result']">Search</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>