@import "~bootstrap/scss/bootstrap.scss";

.card {
    width:100%;
    margin-top:20%;
}

form {
    padding:15px;
}

.form-group {
    width:100%;
}

.form-group label {
    color:black;
}

.search-btn {
    width: 50%;
    margin:auto;
}

.pu-do {

}

.pu-container {

}

.do-container {

}

.pud-container {
    width:50%;
    margin:auto;
}

.persons select {
    width:60%;
}