@import "~bootstrap/scss/bootstrap.scss";

.card {
    width:100%;
    height:200px;
    margin-top:20%;
    background: rgba(0, 130, 185, .8);
}

form {
    padding:15px;
}

.form-group {
    width:100%;
}

.form-group label {
    color:black;
}

.search-btn {
    width: 50%;
    margin:auto;
}

.textboxstyle {
    width: 100%;
    float: left;
    color: #191919;
    padding: 8px 10px 8px 35px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
}

.persent-one {
    width: 100%;
    float: left;
    margin-right: 1%;
    position: relative;
    margin-bottom: 10px;
}
.persent-one i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #191919;
    font-size: 18px;
}

.pud-container {
    width:50%;
    margin:auto;
}

.persons select {
    float:left;
    width: 45px;
    height: 36px;
    line-height: 20px;
    padding: 6px;
    font-size: 14px;
    color:rgb(68, 68, 68);
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 211, 212);
    box-sizing: border-box;
}

.persons {
    float:none;
}

.search-btn {
    margin-top:10px;
}

