<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg0.jpg');">
      </div>
      <div class="container">
          <div class="content-center">
              <h1 class="title">Business to Business Car Rental.</h1>
              <div class="text-center">
                  
              </div>
          </div>
      </div>
  </div>
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Who we are?</h2>
                  <h5 class="description"><span style="color:#189ad3">The Worldsoft Group</span> are a leading provider of innovative and sophisticated travel technology solutions, trusted by key players across North Africa and the Middle East.</h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('assets/img/desc3.jpg')">
                          <!-- First image on the left side -->
                          
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('assets/img/desc1.jpg')"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('assets/img/desc2.jpg')"></div>
                      <h3> KNOWLEDGE & EXPERIENCE MATTER... </h3>
                      <p>The Worldsoft Group is a specialised IT development company that focuses on delivering exceptional technology and software solutions to the travel industry.
                      </p>
                      <p>
                        As the leading experts across the Middle East and Africa The Worldsoft Group conceive, develop and distribute web and application software for large, medium and small Travel Agents and Tour Operators.
                      </p>
                      <p>Between our Consulting and Development teams we have more than 130 years experience thereby ensuring that our clients needs are clearly identified and the most appropriate technology deployed. Working only to build long term relationships with our clients is what differentiates the Worldsoft Group, and it is for this reason that we offer unparalleled after sales support.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
